/* styles.css */

/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #DE6262 0%, #FFB88C 100%); /* Gradient background */
    min-height: 100vh; /* Ensure full height */
    color: white; 

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

/* Center all container elements */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
